<script setup lang="ts">
import dayGridPlugin from "@fullcalendar/daygrid";
import interactionPlugin from "@fullcalendar/interaction";
import timeGridPlugin from "@fullcalendar/timegrid";
import FullCalendar from "@fullcalendar/vue3";
import { INITIAL_EVENTS, createEventId } from "~/utils/events-calendar";
import type {
  CalendarOptions,
  EventApi,
  DateClickArg,
  DateSelectArg,
  EventClickArg,
  EventDropArg,
} from "@fullcalendar/core";

interface CalendarEvent {
  id?: number;
  title: string;
  start: string | null;
  end: string | null;
}

const isModalVisible = ref(false);
const isEditing = ref(false);
const store = useCalendarStore();

const event = ref<CalendarEvent>({
  title: "",
  start: null,
  end: null,
});

const calendarRef = ref();

const calendarOptions: CalendarOptions = {
  plugins: [dayGridPlugin, interactionPlugin, timeGridPlugin],
  initialView: "dayGridMonth",
  stickyHeaderDates: true,
  editable: true,
  headerToolbar: {
    left: "title",
    right: "dayGridMonth,timeGridWeek,timeGridDay",
  },
  footerToolbar: { right: "prev,next,today" },
  initialEvents: INITIAL_EVENTS,
  selectable: true,
  selectMirror: true,
  dayMaxEvents: true,
  weekends: true,
  dateClick: handleDateClick,
  eventClick: handleEventClick,
  eventDrop: handleEventDrop,
  select: handleDateSelect,
};

function handleDateClick(info: DateClickArg): void {
  const dateStr = info.dateStr;
  event.value = {
    title: "",
    start: dateStr.substring(0, 10) + "T" + dateStr.substring(11, 16),
    end: dateStr.substring(0, 10) + "T" + dateStr.substring(11, 16),
  };
  isEditing.value = false;
  isModalVisible.value = true;
}

function handleEventClick(clickInfo: EventClickArg): void {
  const start = clickInfo.event.startStr;
  const end = clickInfo.event.endStr || null;
  event.value = {
    id: Number(clickInfo.event.id),
    title: clickInfo.event.title,
    start: start.substring(0, 10) + "T" + start.substring(11, 16),
    end: end ? end.substring(0, 10) + "T" + end.substring(11, 16) : null,
  };
  isEditing.value = true;
  isModalVisible.value = true;
}
function handleEventDrop(info: EventDropArg): void {
  const droppedEvent = store.getEvents.find(
    (e) => e.id === Number(info.event.id)
  );
  if (droppedEvent) {
    const start = info.event.startStr;
    const end = info.event.endStr || null;
    droppedEvent.start = start.substring(0, 10) + "T" + start.substring(11, 16);
    droppedEvent.end = end
      ? end.substring(0, 10) + "T" + end.substring(11, 16)
      : null;
    store.updateEvent(droppedEvent);
  }
}

function saveEvent(): void {
  if (isEditing.value && event.value.id !== null) {
    const updatedEvent = {
      id: event.value.id!,
      title: event.value.title,
      start: event.value.start!,
      end: event.value.end!,
    };
    store.updateEvent(updatedEvent);
    const calendarApi = calendarRef.value.getApi();
    const calendarEvent = calendarApi.getEventById(updatedEvent.id);
    if (calendarEvent) {
      calendarEvent.setProp("title", updatedEvent.title);
      calendarEvent.setStart(updatedEvent.start);
      calendarEvent.setEnd(updatedEvent.end);
    }
  } else {
    const newEvent = {
      id: createEventId(),
      title: event.value.title,
      start: event.value.start!,
      end: event.value.end!,
    };
    store.addEvent(newEvent);
    const calendarApi = calendarRef.value.getApi();
    calendarApi.addEvent(newEvent);
  }
  isModalVisible.value = false;
}

function handleDateSelect(selectInfo: DateSelectArg) {
  event.value = {
    title: "",
    start: selectInfo.startStr,
    end: selectInfo.endStr || null,
  };
  isEditing.value = false;
  isModalVisible.value = true;
}

const pageTitle = useState("page-title");
onMounted(() => {
  pageTitle.value = "My App/Calendar";
});
</script>

<template>
  <div>
    <VCard> Calendar </VCard>
    <VCard>
      <div class="btn-add-edit-container">
        <VButton
          @click="isModalVisible = true"
          color="primary"
          raised
          icon="lucide:plus"
        >
          <strong>Add event</strong>
        </VButton>
      </div>
      <FullCalendar :options="calendarOptions" ref="calendarRef" />
    </VCard>
    <VModal
      :open="isModalVisible"
      :title="`${isEditing ? 'Edit' : 'Add'} Event`"
      @close="isModalVisible = false"
    >
      <template #content>
        <div class="field">
          <label class="label">Event title</label>
          <div class="control">
            <input
              v-model="event.title"
              class="input"
              type="text"
              placeholder="Event title"
            />
          </div>
        </div>
        <div class="field">
          <label class="label">Start Date</label>
          <div class="control">
            <input v-model="event.start" class="input" type="datetime-local" />
          </div>
        </div>
        <div class="field">
          <label class="label">End Date</label>
          <div class="control">
            <input v-model="event.end" class="input" type="datetime-local" />
          </div>
        </div>
      </template>
      <template #action>
        <button class="button is-success" @click="saveEvent">Save</button>
      </template>
    </VModal>
  </div>
</template>

<style lang="scss">
.btn-add-edit-container {
  padding-bottom: 2em;
}
</style>
