:root {
  --fc-small-font-size: theme(fontSize.sm);
  --fc-page-bg-color: theme(colors.background);
  --fc-neutral-bg-color: theme(colors.muted.DEFAULT);
  --fc-neutral-text-color: theme(colors.foreground);
  --fc-border-color: var(--border);

  --fc-button-text-color: var(--white);
  --fc-button-bg-color: var(--muted-grey);
  --fc-button-border-color: var(--muted-grey);
  --fc-button-hover-bg-color: var(--success--dark-color);
  --fc-button-hover-border-color: var(--success--dark-color);
  --fc-button-active-bg-color: var(--primary);
  --fc-button-active-border-color: var(--primary);

  --fc-event-bg-color: var(--primary);
  --fc-event-border-color: var(--primary);
  --fc-event-text-color: --smoke-white;
  --fc-event-selected-overlay-color: var(--muted-grey);

  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: var(--primary);

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: var(--muted-grey);
  --fc-today-bg-color: rgba(215, 215, 215, 0.3);
}

/* Toolbar buttons */
// .fc {
//   .fc-button {
//     .fc-icon {
//     }
//   }
//   .fc-button-primary {
//     &.fc-button-active {
//     }
//   }
// }

/* Toolbar */
.fc .fc-toolbar {
  font-family: var(--font-alt) !important;
  .fc-toolbar-chunk + .fc-toolbar-title {
    color: var(--dark-text);
  }
}
/* Toolbar title */
.fc .fc-toolbar-title {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  color: var(--dark-text);
}
/* Calendar header cell */
.fc .fc-col-header-cell-cushion,
.fc .fc-timegrid-slot-label-cushion,
.fc .fc-timegrid-axis-cushion {
  color: var(--dark-text);
}
/* Calendar: month day number */
.fc .fc-daygrid-day-number {
  color: var(--dark-text);
}
// .fc .fc-daygrid-month-start {
// }
/* List text */
// .fc-list-day-text,
// .fc-list-day-side-text {
// }
// .fc-h-event .fc-event-main-frame {
// }
// .fc .fc-list-event-time,
// .fc .fc-event-time {
// }
// .fc .fc-event-time {
// }

// .fc .fc-list-event-title {

// }

.fc-h-event .fc-event-title {
  color: var(--white);
}

/* Event inside month view */
// .fc .fc-daygrid--day-events {
// }
// .fc .fc-h-event .fc-event-main {
// }
/* MultiMonth */
.fc-more-link {
  color: var(--primary) !important ;
}

/* Mulimonth popup */
.fc-theme-standard .fc-popover {
  background-color: var(--background-grey);
}

// .fc-popover-header {
// }

@media screen and (width <= 600px) {
  .fc .fc-toolbar-title {
    font-size: 1.2rem !important;
    font-weight: 600 !important;

  }
}
